In [3]:
%reload_ext sql
%sql mysql+mysqlconnector://root:root@localhost/dummy

In [4]:
%%sql
select * from dummy

 * mysql+mysqlconnector://root:***@localhost/dummy
(mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'dummy.dummy' doesn't exist
[SQL: select * from dummy]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [5]:
%%sql
show databases;

 * mysql+mysqlconnector://root:***@localhost/dummy
5 rows affected.

[('dummy',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [10]:
%%sql

show databases;

 * mysql+mysqlconnector://root:***@localhost/dummy
5 rows affected.

[('dummy',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [ ]:
%%sql
use dummy